
<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<% if(datos.mensaje){ %>
    <div class="alert alert-primary" role="alert">
        <%= datos.mensaje %>
    </div>
<% } %>

<div class="col-md-12 text-center ">
    <button type="submit" class="btn btn-warning">Agendar</button>
    <button type="submit" class="btn btn-warning">Membresia</button>

</div>
