
<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<% if(datos.mensaje){ %>
    <div class="alert alert-primary" role="alert">
        <%= datos.mensaje %>
    </div>
<% } %>

<div class="col-md-12 text-center ">
    <a href="/horario/vista/agendar">
    <button type="submit" class="btn btn-secondary">Agendar</button>
    </a>
    <a href="/membresia/vista/membresia">
    <button type="submit" class="btn btn-secondary">Membresia</button>
</a>
    <a href="/usuario/logout">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </a>
</div>


<%- include('../compartido/pie-de-pagina')%>