
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ReserveNow</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>
        <div>
            <img src="https://static1.abc.es/media/familia/2017/10/28/gimnasio-consejos-errores-k8dC--620x349@abc.jpg"
                alt="Persona entrenando en un gimnasio" class="img-fluid" width="100%" alt="Responsive image"  >
        </div>

        <div class="col-md-12 text-center mb-3">
            <div class="alert alert-warning" role="alert"  >
                 RESERVE NOW
            </div>
        </div>




    </body>
</html>