
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ReserveNow</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">


</head>
<body>
       
        <div>
            <img src="https://a-static.besthdwallpaper.com/tiempo-de-gimnasio-papel-pintado-4098x768-2317_126.jpg"
                alt="Persona entrenando en un gimnasio" class="img-fluid" width="100%" alt="Responsive image"  >
        </div>

        <div class="col-md-12 text-center mb-3">
            <div class="alert alert-warning" role="alert"  >
                 RESERVE NOW
            </div>
        </div>




    </body>
</html>