<%- include('../compartido/estilos-generales/estilos-generales-component')%>

<form action="/usuario/login" method="post" name="login">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" name="usuario"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ejm: reservenow@epn.edu.ec"  required="true">
        <small id="emailIDHelp"
               class="form-text text-muted">
            Ingrese un formato de email correcto.
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Ejm: ********"  required="true">
        <small id="passwordIDHelp"
               class="form-text text-muted">
            Ingrese una contraseña con más de 8 caracteres.
        </small>
    </div>
    <div class="col-md-12 text-center ">
        <button type="submit" class="btn btn-warning">Login</button>
    </div>
    <div class="col-md-12 ">
        <p class="text-center">No tiene una cuenta? <a href="/usuario/registro">Registrate</a></p>
    </div>
</form>